*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fff;
}
.cyan{
    color: cyan;
}
table{
    background-color: rgb(77, 77, 77);
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1em 0;
    padding: 1em;
}
body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
form{
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 1em;
    height: 30vh;
}
.ortala{
    display: flex;
    justify-content: center;

}
h1{
    margin-bottom: 1em;
    font-size: 1.5em;
}